---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Team
import BirthdayHat from "@/components/team/BirthdayHat.astro";
// Config
import { link } from "@/config/site";
const { url, name, image, role, birthday, hatX, hatY, hatRotate, hatSize } = {
  url: link("/team/" + Astro.props.post.slug),
  name: Astro.props.post.data.name,
  role: Astro.props.post.data.role,
  image: Astro.props.post.data.image.url,
  birthday: Astro.props.post.data.birthday,
  hatX: Astro.props.post.data.hatX,
  hatY: Astro.props.post.data.hatY,
  hatRotate: Astro.props.post.data.hatRotate,
  hatSize: Astro.props.post.data.hatSize,
};
---

<div class="relative">
  <a
    href={url}
    title={`View profile for ${name}`}
    aria-label={`View profile for ${name}`}
    class="absolute inset-0 z-10"></a>

  <div class="relative rounded">
    {birthday && <BirthdayHat birthday={birthday} hatX={hatX} hatY={hatY} hatRotate={hatRotate} hatSize={hatSize} />}
    <Image
      src={image}
      alt={name}
      width={800}
      height={700}
      loading="lazy"
      decoding="async"
      class="object-cover object-top w-full aspect-4/3"
    />
  </div>

  <div class="mt-4">
    <Text tag="h3" variant="textXL" class="font-medium text-accent-900">
      {name}
    </Text>
    <Text tag="p" variant="textBase" class="text-base-600 mt-1">
      {role}
    </Text>
  </div>
</div>
